boto3==1.35.97
botocore==1.35.97
ipykernel==6.29.5
better-profanity
moviepy==2.1.2
numpy==1.26.4
praw==7.8.1
pillow==10.4.0
pydub==0.25.1
google-api-python-client==2.158.0
google-auth==2.37.0
google-auth-oauthlib==1.2.1
google-auth-httplib2==0.2.0
oauthlib==3.2.2
requests==2.33.1
emoji
